extends ../layout

block content
    h1= title
    section
        h2 若有上傳檔案，系統只處理上傳的檔案
        form(id='form', method='post', enctype="multipart/form-data")
            div
                input#file(type='file' name='file' accept='.html')
            div
                textarea(name='text' placeholder='可填入網址需http開頭或是html內容' style='width:500px;height:300px')
            div
                button(type="reset") 清空
                button(id="submit") 送出
    hr
    section(style='display:none' id='result')
        div(id='title')
            h3 title
            span(id='title_result')
            span(id='title_text')
        div(id='meta')
            h3 meta
            span(id='meta_result')
            span(id='meta_text')
        div(id='img')
            h3 img
            span(id='img_result')
            span(id='img_text')


    script(type='text/javascript').

        $('#form').submit(function (e) {
            e.preventDefault()
            const form = $('form')[0];
            const formData = new FormData(form);

            $.ajax({
                url: '/analyze/analyze',
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $('#result').show();
                    Object.keys(data).forEach(function (f) {
                        $(`#${f}_result`).text(data[f].result)
                        $(`#${f}_text`).text(data[f].text)
                    })

                }, error: function (data) {
                    console.log(data);
                    console.log('無法送出');
                }
            })
        })








